
<div id="<%= dom_id recipe %>" class="w-[90%] mx-auto border-gray-900 border-4 my-3 rounded-sm cursor-pointer">
<%= link_to "", recipe, class: "ml-32 w-[69%] p-16 flex justify-center absolute " %>
     <div class="flex justify-between p-4">
          <p class="my-2 text-2xl z-10">
        <%= recipe.name %>
      </p>

      <p class="my-2 w-[50%]">
        <%= recipe.description %>
      </p>
     </div>
      <div class="rounded-lg py-2 px-4 bg-blue-600 text-white inline-block font-medium cursor-pointer m-2 underline text-xl">
        <%= button_to "Delete", recipe_path(recipe.id ), :method => :delete %> 
      </div>
</div>
