<div class="w-full">
  <h1 class="font-bold text-4xl">New Recipe</h1>
  <div class="mt-14">
    <%= form_with model: @recipe, url: recipes_path, local: true, html: {"data-turbo": "false"} do |form| %>
      <% if @recipe.errors.any? %>
        <div class="border px-7 py-3 mb-4 border-red-400 bg-red-200 font-medium">
          <% @recipe.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      <% end %>
      <div class="border p-7 flex flex-col gap-7">
        <div>
          <%= form.label :name, class: 'font-medium block mb-2' %>
          <%= form.text_field :name, class: 'border rounded' %>
        </div>
        <div>
          <%= form.label :preparation_time, class: 'font-medium block mb-2' %>
          <%= form.number_field :preparation_time, class: 'border rounded', placeholder: 'In minutes' %>
        </div>
        <div>
          <%= form.label :cooking_time, class: 'font-medium block mb-2' %>
          <%= form.number_field :cooking_time, class: 'border rounded', placeholder: 'In minutes' %>
        </div>
        <div>
          <%= form.label :description, class: 'font-medium block mb-2' %>
          <%= form.text_area :description, class: 'border rounded' %>
        </div>
        <div>
          <%= form.label :public, class: 'form-check-label'%>
          <%= form.check_box :public , class: 'form-check-input'%>
        </div>
        <%= form.submit "Submit", class: 'text-sm px-4 py-2 bg-transparent hover:bg-teal-500 text-teal-700 max-w-fit font-semibold hover:text-white border border-teal-500 hover:border-transparent rounded' %>
      </div>
    <% end %>
  </div>
</div>
