<div class="flex-col min-w-full" x-data="{ open: false }">
  <% if @recipe == 'No recipes' %>
    <h2>Invalid link!</h2>
  <% elsif @recipe.public || @recipe.user == @current_user %>
    <h1 class="text-gray-900 font-bold text-center text-3xl my-8"> <%=  @recipe.name %> </h1>
    <div class="w-full border border-gray-400 bg-white rounded p-4 flex flex-col justify-between leading-normal">
      <div class="max-w-sm w-full min-w-full lg:max-w-full flex mb-4">
        <div class="sm:w-full md:w-2/3 p-4 flex flex-col justify-center leading-normal">
          <h3 class="my-2 text-gray-700 font-bold">Preparation Time: <%= @recipe.preparation_time/60 %> hours <%= @recipe.preparation_time%60 %> minutes</h3>
          <h3 class="my-2 text-gray-700 font-bold">Cooking Time: <%= @recipe.cooking_time/60 %> hours <%= @recipe.cooking_time%60 %> minutes</h3>
        </div>
        <div class="sm:w-full md:w-1/3 p-4 flex flex-col justify-center leading-normal">
          <% if @recipe.user == @current_user %>
            <div class="flex items-center justify-center w-full mb-12">
              <%= button_to toogle_public_path(@recipe.id), method: :patch do %>
                <label for="toogleA" class="flex items-center cursor-pointer">
                  <!-- toggle -->
                  <div class="relative">
                    <!-- input -->
                    <input id="toogleA" type="checkbox" class="sr-only" <%='checked' if @recipe.public %>/>
                    <!-- line -->
                    <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                    <!-- dot -->
                    <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                  </div>
                  <!-- label -->
                  <div class="ml-3 text-gray-700 font-medium">
                    Public
                  </div>
                </label>
              <% end %>
            </div>
            <%= button_to "Remove", recipe_path(@recipe.id), method: :delete, class: "flex mx-auto bg-transparent hover:bg-red-500 text-red-700 justify-center font-semibold hover:text-white p-1 w-40 border border-red-500 hover:border-transparent rounded"%>
          <% end %>
        </div>
      </div>
      <p class="text-gray-700 text-base p-4"><%= @recipe.description %></p>
    </div>
    <div class="w-full bg-white rounded p-4 flex flex-row justify-between leading-normal gap-2">
      <% if user_signed_in? %>
        <button type="" class="flex bg-transparent hover:bg-teal-500 text-teal-700 justify-center font-semibold hover:text-white p-1 px-4 border border-teal-500 hover:border-transparent rounded" @click="open = true">Generate Shopping List</button>
      <% end %>
      <% if @recipe.user == @current_user %>
        <%= link_to "Add Ingredients", new_recipe_recipe_food_path(@recipe.id), class: "flex bg-transparent hover:bg-lime-500 text-lime-700 justify-center text-center font-semibold hover:text-white p-1 px-4 border border-lime-500 hover:border-transparent rounded"%>
      <% end %>
    </div>
    <div class="mt-6 relative md:overflow-hidden overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm rounded">
        <thead class="text-white">
          <tr class="bg-teal-700">
            <th class="px-4 w-5/12 py-2">Food</th>
            <th class="px-4 w-2/12 py-2">Quantity</th>
            <th class="px-4 w-2/12 py-2">Value</th>
            <% if @recipe.user == current_user %>
              <th class="px-4 w-3/12 py-2">Action</th>
            <% end %>
          </tr>
        </thead>
        <tbody><%= render partial:"recipe_food", collection: @recipe_foods %>
        </table>
      </div>
      <% if user_signed_in? %>
        <div class="absolute top-0 left-0 flex items-center justify-center w-full h-full" style="background-color: rgba(0,0,0,.5);" x-show="open">
          <%= render partial:"shared/shopping_list_form" %>
        </div>
      <% end %>
    <% else %>
      <h2>You are not authorized to view this recipe!</h2>
    <% end %>
  </div>
