<div class="border p-7 bg-white rounded" @click.away="open = false">
  <%= form_with url: shopping_list_path, method: :get, local: true, html: {"data-turbo": "false"} do |form| %>
    <div class="flex flex-col gap-7 p-5">
      <h1 class="font-bold text-4xl">New Shopping List</h1>
      <div class="hidden">
        <%= form.label :recipe_id, class: 'font-medium block mb-2' %>
        <%= form.text_field :recipe_id, value: @recipe.id %>
      </div>
      <div>
        <%= form.label :inventory_id, class: 'font-medium block mb-2' %>
        <%= form.select :inventory_id, options_from_collection_for_select(@inventories, "id", "name"), {}, { class: "border rounded" } %>
      </div>
      <%= form.submit "Submit", class: 'flex bg-transparent hover:bg-teal-500 text-teal-700 justify-center font-semibold hover:text-white p-1 px-4 border border-teal-500 hover:border-transparent rounded' %>
    </div>
  <% end %>
</div>
