

<div class="w-full">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="font-bold text-4xl py-5">Log in</h2>
    <div class="border p-7 flex flex-col gap-2">
      <div>
        <%= f.label :email , class: 'font-medium block' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'border rounded' %>
      </div>
    <div>
      <%= f.label :password , class: 'font-medium block' %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'border rounded' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex content-center align-center">
        <%= f.check_box :remember_me, class:'border rounded mr-4 my-auto' %>
        <%= f.label :remember_me , class: 'font-medium block' %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in",  class: 'text-sm px-4 py-2 bg-transparent hover:bg-teal-500 text-teal-700 max-w-fit font-semibold hover:text-white border border-teal-500 hover:border-transparent rounded'  %>
    </div>
  <% end %>
  <div class="flex justify-between text-blue-500 underline">
  <%= render "devise/shared/links" %>
  </div>
</div>

